@model SpbuEducation.TimeTable.Web.ViewModels.StudentGroupEventsSemesterViewModel

@{
    ViewBag.Title = Resources.SpbuTimetable;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_Breadcrumb.cshtml", Model.Breadcrumb)

<h2 style="display: inline;">@Html.DisplayFor(vm => Model.StudentGroupDisplayName)</h2>
<a href="@Url.Action("ExcelSemester", "StudentGroupEvents", new {publicDivisionAlias = Model.PublicDivisionAlias, studentGroupId = Model.StudentGroupId, autumn = Model.Autumn})" style="float: right; margin-top: 10px;">
    <span style="font-size: large;">
        <i class="glyphicon glyphicon-cloud-download"></i> @Resources.download
    </span>
</a>
<h3>@Html.DisplayFor(vm => Model.TimeTableDisplayName)</h3>


<div id="timetable-week-navigator">
    @if (Model.IsSpringSemester)
    {
        @Html.ActionLink("‹ " + Resources.toAutumnSemester, "Semester", "StudentGroupEvents",
                new { autumn = 1 },
                new { @class = "prev-week" })
        <span class="next-week">@Resources.springSemester</span>
    }
    else
    {
        <span class="prev-week">@Resources.autumnSemester</span>
        @Html.ActionLink(Resources.ToSpringSemester + " ›", "Semester", "StudentGroupEvents",
                new { autumn = 0 },
                new { @class = "next-week" })
    }
    <div id="timetable-week-navigator-chosen-week">
        @Html.DisplayFor(x => Model.SemesterDurationDisplayText)
        <span>|</span>
        @Html.ActionLink(Resources.toWeek, "Primary", "StudentGroupEvents")
    </div>
</div>

<div id="view-mode-panel" class="text-right">
    @Resources.allClasses |
    @Html.ActionLink(Resources.interimAttestation, "Attestation", "StudentGroupEvents") |
    @Html.ActionLink(Resources.finalAttestation, "Final", "StudentGroupEvents")
</div>

<div class="panel-group stats-panels" id="accordion">
    @if (!Model.HasEvents)
    {
        <div class="alert alert-warning">@Resources.NoEvents</div>
    }
    else
    {
        foreach (var day in Model.Days)
        {
            if (day.DayStudyEventsCount > 0)
            {
                <div class="panel panel-default" style="overflow: visible">
                    <div class="panel-heading">
                        <h4 class="panel-title">@day.DayString</h4>
                    </div>
                    <ul class="panel-collapse nopadding nomargin">
                        @foreach (var studyEvent in day.DayStudyEvents)
                        {
                            <li class="common-list-item row">
                                @Html.Partial("~/Views/Shared/_DateTime.cshtml", studyEvent.DateTime)
                                @Html.Partial("~/Views/Shared/_EventSubject.cshtml", studyEvent)
                                @Html.Partial("~/Views/Shared/_EventLocations.cshtml", studyEvent)
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    }
</div>
