@model SpbuEducation.TimeTable.Common.Web.ViewModels.IDateTimeViewModel

<div class="col-sm-2 studyevent-datetime">
    <div class="with-icon">
        <i class="glyphicon glyphicon-time"></i>
        <div>
            <span class="moreinfo @Model.Time.ClassName"
                  title="@Model.Time.Tooltip"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-container="body">
                @Model.Time.Value
            </span>
        </div>
    </div>

    @{
        var dates = Model.Dates.ToArray();
        for (int i = 0; i < dates.Length; i++)
        {
            var date = dates[i];
            <div class="with-icon">
                <i class="glyphicon glyphicon-calendar @(i != 0 ? "invisible" : null)"></i>
                <div>
                    <span class="moreinfo @date.ClassName"
                          title="@date.Tooltip"
                          data-toggle="tooltip"
                          data-placement="top"
                          data-container="body">
                        @date.Value
                    </span>
                </div>
            </div>
        }
    }
</div>

